aside {
    position: fixed;
    left: 0;
    top: 34px;
    bottom: 0;
    width: 300px;
}

#accordion {
	background: #4281a0;
}

#accordion h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	background: #196B94;
}

#accordion h3.on {
	background-color: #185D80;
}

#accordion h3 span {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 15px;
    opacity: .5;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

#icon-about {
	background-image: url(../img/us.png);
}

#icon-search {
	background-image: url(../img/search.png);
}

#icon-node {
	background-image: url(../img/node.png);
}

#icon-edge {
	background-image: url(../img/edge.png);
}

#icon-add {
	background-image: url(../img/add.png);
}

#icon-annotate {
    background-image: url(../img/annotate.png);
}

#icon-tag {
    background-image: url(../img/tag.png);
}

#icon-link {
    background-image: url(../img/link.png);
}

#icon-zoomin {
    background-image: url(../img/zoomin.png);
}

#icon-zoomout {
    background-image: url(../img/zoomout.png);
}

#nodeinfo {
	overflow: auto;
}

.accordion_content {
	display: none;
	color:#222;
	font-size:12px;
	padding: 5% 10%;
	line-height: 25px;
	text-align:left;
	height: calc(90% - 140px);
}

.accordion_content .active {
	display: block;
}

.accordion_content ul {
    text-align: center;
    display: inline;
    margin: 0;
    list-style: none;
}

.accordion_content ul li {
	background-color: #fff;
	float: left;
	cursor: pointer;
    margin: 2px;
    padding: 5px;
    width: calc(48% - 10px);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#addedge {
    width: calc(98% - 11px);
}

.accordion_content ul li:hover, .accordion_content ul li.clicked {
	color: #fff;	
	background-color: #185D80;
}

#nodeinfo a, #edgeinfo a {
	color: #fff;
}

#nodeinfo p {
	color: #fff;
	text-align: center;
	font-size:14px;
	padding-bottom: 15px;
}

aside ::-webkit-scrollbar {  
    width: 8px;  
}  
aside ::-webkit-scrollbar-track {  
    background-color: #4281a0;
}  
aside ::-webkit-scrollbar-thumb {  
    background-color: #555;  
}  
aside ::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

.accordion_content section {
    margin: 40% 0 0 2px;
    display: none;
}

section input, section select, section textarea {
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: 235px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

form select {
    min-width: 235px;
}

section textarea {
    height: 50px;
}

.tt-hint {
    color: #999;
    padding: 6px 10px;
    height: 35px;
    width: 235px;
}

.tt-suggestion {
    padding: 6px 10px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #0097cf;
    background-color: #ccc;
}

.tt-dropdown-menu {
    width: 233px;
    margin-top: -7%;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

aside button, #zoom button {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 35px;
    width: 235px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #CAE4E1;
    border: none;
    cursor: pointer;
}

aside button:hover, aside button.active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

aside button.icon, #zoom button.icon {
    background-repeat: no-repeat;
    background-size: 15px;
    width: 30px;
    height: 30px;
    opacity: .6;
    background-position: center;
    float: right;
    background-color: transparent;
}