\/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-top: 34px;
}

#accordion {
	background: #4281a0;
}

#accordion h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	background: #196B94;
}

#accordion h3 .on {
	background-color: #185D80;
}

#accordion h3 span {
	display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    opacity: .5;
    margin-right: 10px;
}

#icon-about {
	background-image: url(../img/us.png);
}

#icon-search {
	background-image: url(../img/search.png);
}

#icon-node {
	background-image: url(../img/node.png);
}

#icon-edge {
	background-image: url(../img/edge.png);
}

#icon-add {
	background-image: url(../img/add.png);
}

#nodeinfo {
	overflow: auto;
}

.accordion_content {
	display: none;
	color:#222;
	font-size:12px;
	padding: 10%;
	line-height: 25px;
	text-align:left;
	height: calc(100% - 230px);
}

.accordion_content .active {
	display: block;
}

.accordion_content ul {
    text-align: center;
    display: inline;
    margin: 0;
    list-style: none;
}

.accordion_content ul li {
	background-color: #fff;
	float: left;
	cursor: pointer;
    margin: 1%;
    padding: 10px;
    width: calc(48% - 20px);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.accordion_content ul li:hover, .accordion_content ul li.clicked {
	color: #fff;	
	background-color: #185D80;
}

#nodeinfo a, #edgeinfo a {
	color: #fff;
}

#nodeinfo p {
	color: #fff;
	text-align: center;
	font-size:14px;
	padding-bottom: 15px;
}

::-webkit-scrollbar {  
    width: 8px;  
}  
::-webkit-scrollbar-track {  
    background-color: #4281a0;
}  
::-webkit-scrollbar-thumb {  
    background-color: #555;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

.accordion_content section {
    margin: 50% 0 0 2px;
    display: none;
}

.accordion_content section input, section select {
    display: inline-block;
    margin-bottom: 8%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: 235px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

form select {
    min-width: 235px;
}

.tt-hint {
    color: #999;
    padding: 6px 10px;
    height: 35px;
    width: 235px;
}

.tt-suggestion {
    padding: 6px 10px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #0097cf;
    background-color: #ccc;
}

.tt-dropdown-menu {
    width: 233px;
    margin-top: -7%;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

button {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 35px;
    width: 235px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #CAE4E1;
    border: none;
    cursor: pointer;
}

button:hover, button.active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

#check-shared[type="checkbox"]{
   display:inline-block;
   margin:0;
   padding:0;
   margin-right:5px;
   height:15px;
   width:15px;
   margin-bottom: 10%;
}