@charset "UTF-8";

body {
    margin: 0;
    color: #323236;
    background-color: #ecebe9;
    font-family: 'Open Sans',sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
}

header {
    position: fixed;
    line-height: 34px;
    color: #CAE4E1;
    background: #555 repeat-x top left;
    width: 300px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;
    float: left;
}

#results {
    height: 4%;
    line-height: 20px;
    color: #555;
    background: none;
    margin-left: 260px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 1%;
}

#graph {
    margin-left: 300px;
    height: 80%;
}

b {
    font-weight: 700;
}

/*TABLE FORMAT*/
#twogroupsmenu {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 80px;
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 0 10%;
}

#twogroupsmenu button {
  width: 25%;
  color: #fff;
  background-color: #196B94;
}

#twogroupsmenu button.active {
  background-color: #185D80;
}

.toggle {
    vertical-align: top;
    width: auto;
}

#data-table-container_wrapper {
    margin: 120px 10px 10px 10px;
}

tr.odd {
    background-color: #e8e8e8;
}

tr.even {
    background-color: #fff;
}

tr.odd td.sorting_1 {
    background-color: #D3D6FF;
}

select {
    cursor: pointer;
    width: 75px;
}

.dataTables_length {
    padding-left: 10px;
}

.dataTables_filter {
    padding-right: 10px;
}

.table-striped tbody>tr:nth-child(odd)>th>td.sorting_1 {
    background-color: #D3D6FF;
}

#data-table-container_info {
    margin: 20px 0;
    padding-top: 5px;
}

#data-table-container_filter, #data-table-container_length {
    display: none;
}

#download {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(../img/dwn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    opacity: .6;
}

/*PROGRESS BAR*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 300;
  height: 6px;
  width: calc(100% - 300px);
  background: #fff;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: calc(100% - 300px);
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #4281a0;
}

.pace.pace-inactive {
  display: none;
}

/*SLIDER*/
#container{
  display: inline-block;
  background:url(../img/bg.jpg)!important;
  padding:100px 50px 0px 50px;
}

/*the slider background*/
.slider {
  display: inline-block;
  width:215px;
  height:11px;
  background:url(../img/slider-bg.png);
  background-repeat:no-repeat; 
  position:relative;
  margin-bottom: 5%;
  padding:0 10px;
}

/*Style for the slider button*/
.ui-slider-handle {
  display: inline-block;
  width:24px;
  height:24px;
  position:absolute;
  top:-7px;
  margin-left:-12px;
  z-index:10;
  background:url(../img/slider-button.png);
  background-repeat:no-repeat; 
}

/*Result div where the slider value is displayed*/
.slider-result {
  display: inline-block;
  text-align:center;
  height: 35px;
  width: 235px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  padding-bottom: 5%;
}

a {
  outline:none;
  -moz-outline-style:none;
}